<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>日報 報告アプリ</title>
    <style>
       ul li {
           list-style: none;
           margin-top:10px
       }
       label {
           margin-right: 10px;
           width: 100px;
           float: left;
       }
       ul {
           width: 500px;
           margin: 0 auto;
       }
       input#button {
           display: block;
           margin: 0 auto;
       }
    </style>
</head>

<body>
<h1>日報入力フォーム</h1>
<div class="form">
    <div class="form-body">
        <%= form_tag("/records/create") do %>
            <ul>
                <li>
                    <label>店舗</label>
                    <select name="store">
                        <option>矢上店</option>
                        <option>笠木店</option>
                        <option>三加茂店</option>
                    </select>
                </li>
                <li>
                    <label>売上日</label>
                    <input name="date" type="date">
                </li>
                <li>
                    <label>申請者</label>
                    <select name="applicant">
                        <option>共生　太郎</option>
            　　　　     <option>共生　花子</option>
                    </select>
                </li>
                <li>
                    <label>調剤売上</label>
                    <input name="dispensing_fee" type="number">
                </li>
                <li>
                    <input id="button" type="submit" value="確定">
                </li>
            </ul>
        <% end %>
    </div>
</div>
</body>
</html>