// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*      header     */
header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #def7ff;
    display: flex;
    align-items: center;
 }

 a {	
    text-decoration: none;
    color: #4b4b4b;
 }

 ul.header-menus {
    list-style: none;
    margin: 0;
    display: flex;
 }

 ul.header-menus li {
    margin: 0 0 0 15px;
    font-size: 14px;
 }

/*      index.htmlの表     */

body{
    margin-top:200px;
}

.design01 {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
   }
   .design01 th {
    padding: 10px;
    background: #e9faf9;
    border: solid 1px #778ca3;
   }
   .design01 td {
    padding: 10px;
    border: solid 1px #778ca3;
   }

     /* new.htmlの表 */

ul li {
    list-style: none;
    margin-top:10px
}
label {
    margin-right: 10px;
    width: 100px;
    float: left;
}
ul {
    width: 500px;
    margin: 0 auto;
}
input#button {
    display: block;
    margin: 0 auto;
}